---
import PageLayout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Community Guidelines | Wahine Community',
  description:
    "Read the Wahine Community guidelines for creating a respectful, inclusive, and empowering environment. Learn how to engage and contribute positively.",
  ignoreTitleTemplate: true,
  keywords:
    'Wahine Community guidelines, community rules Malaysia, women community guidelines, financial community conduct, safe space guidelines, online community rules, professional networking etiquette, women network guidelines, inclusive community standards, Malaysian women community, community participation guidelines, professional community conduct',
  openGraph: {
    site_name: 'Wahine Community Guidelines - Building a Supportive Network',
  },
};
---

<PageLayout hasPageHeader pageTitle="Community Guidelines" highlightedTitleText="Community" metadata={metadata}>
  <div class="max-w-5xl px-4 py-10 sm:px-6 lg:px-8 mx-auto font-sans prose">
    <h2 class="text-lg font-bold font-body">Welcome to Wahine Community Guidelines</h2>
    <p>
      Welcome to the Wahine community! We are committed to fostering a supportive and inclusive environment where
      everyone can thrive. Please adhere to the following guidelines to ensure a positive experience for all members.
    </p>
    <br />
    <h2>1. Respect and Inclusivity</h2>
    <ul>
      <li>Treat everyone with respect and kindness.</li>
      <li>Embrace diversity and be inclusive of all genders, races, ethnicities, religions, and backgrounds.</li>
      <li>Harassment, discrimination, or hate speech will not be tolerated.</li>
    </ul>

    <h2>2. Constructive Engagement</h2>
    <ul>
      <li>Engage in discussions constructively and respectfully.</li>
      <li>Critique ideas, not individuals.</li>
      <li>Be open to differing opinions and perspectives.</li>
    </ul>

    <h2>3. Privacy and Confidentiality</h2>
    <ul>
      <li>Respect the privacy of others. Do not share personal information without consent.</li>
      <li>Keep confidential information shared within the community private.</li>
    </ul>

    <h2>4. Professional Conduct</h2>
    <ul>
      <li>Maintain professionalism in all interactions.</li>
      <li>Avoid spamming, self-promotion, or irrelevant content.</li>
      <li>Report any inappropriate behavior to the community moderators.</li>
    </ul>

    <h2>5. Collaboration and Support</h2>
    <ul>
      <li>Encourage collaboration and support fellow community members.</li>
      <li>Share knowledge, resources, and opportunities to help others grow.</li>
    </ul>

    <h2>6. Safety and Security</h2>
    <ul>
      <li>Prioritize the safety and security of all community members.</li>
      <li>Report any security concerns or breaches immediately.</li>
    </ul>

    <h2>7. Compliance with Laws</h2>
    <ul>
      <li>Comply with all applicable laws and regulations.</li>
      <li>Do not engage in illegal activities or encourage others to do so.</li>
    </ul>

    <h2>8. Feedback and Improvement</h2>
    <ul>
      <li>We welcome feedback to improve our community.</li>
      <li>Share your suggestions with community leaders or moderators.</li>
    </ul>

    <h2>9. Content Sharing</h2>
    <ul>
      <li>Share content that is relevant and beneficial to the community.</li>
      <li>Ensure all shared content adheres to copyright laws.</li>
    </ul>

    <h2>10. Positive Environment</h2>
    <ul>
      <li>Contribute to a positive and welcoming environment.</li>
      <li>Celebrate achievements and milestones of fellow members.</li>
    </ul>

    <h2>11. Conflict Resolution</h2>
    <ul>
      <li>Address conflicts calmly and respectfully.</li>
      <li>Seek the help of moderators if needed to resolve disputes.</li>
    </ul>

    <h2>12. Active Participation</h2>
    <ul>
      <li>Participate actively and regularly in community activities.</li>
      <li>Encourage others to engage and contribute.</li>
    </ul>

    <p>
      By participating in the Wahine Community, you agree to abide by these guidelines. Let's work together to create a
      vibrant and empowering community for everyone!
    </p>
  </div>
</PageLayout>
