---
import PageLayout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Partners from '~/components/widgets/Partners.astro';
import Recognitions from '~/components/Recognitions.astro';
import Solutions from '~/components/Solutions.astro';
import FeaturedOn from '~/components/FeaturedOn.astro';
import NewsQuote from '~/components/NewsQuote.astro';
import Quote from '~/components/Quote.astro';
import CommunityJoin from '~/components/CommunityJoin.astro';
import VideoSeriesPreview from '~/components/VideoSeriesPreview.astro';
import ExpertSlider from '~/components/ExpertSlider.astro';
import AccreditedByHRDF from '~/components/AccreditedByHRDF.astro';
const featuredData = [
  { url: '/images/featuredon/bfm.png', classes: 'object-contain w-32' },
  { url: '/images/featuredon/the-edge.png', classes: 'object-contain w-36' },
  { url: '/images/featuredon/star-biz7.png', classes: 'w-14' },
  { url: '/images/featuredon/astro-awani.png', classes: 'w-32' },
];
const metadata = {
  title: 'Life of W',
  description:
    'Life of W by Wahine Capital empowers Malaysian women with personalized financial strategies, expert guidance, and community support at every life stage. Join our financial literacy journey.',
  ignoreTitleTemplate: true,
  keywords:
    'Life of W, Wahine Capital, women financial education Malaysia, financial strategies for women, Malaysian women finance, women wealth management, financial literacy Malaysia, women financial community, personal finance for women, financial tools Malaysia, women financial experts, Malaysian financial advisors, wealth building for women, women investment Malaysia',
  openGraph: {
    site_name: 'Life of W - Building Wealth Strategies for Malaysian Women',
  },
};

const toolsData = [
  {
    icon: '/path-to-vault-icon.svg',
    title: 'W Vault',
    description:
      'A dedicated digital safe, uniquely crafted for women, allowing women to securely store and organize vital digital details such as documents and financial records.',
  },
  {
    icon: '/path-to-masterclass-icon.svg',
    title: 'Wahine Finance Masterclass',
    description:
      "A comprehensive video series focused on empowering women in finance. Each module covers essential topics such as financial literacy, investment strategies, budgeting, providing valuable insights and practical guidance to enhance women's financial confidence and independence.",
  },
  {
    icon: '/path-to-wani-icon.svg',
    title: 'Wani Chat',
    description:
      'Our friendly assistant bot designed to help with any questions you have about budgeting, investing, or women. Wani is equipped to provide insights to empower women in their financial journeys.',
  },
  {
    icon: '/path-to-community-icon.svg',
    title: 'Wahine Community',
    description:
      'Empowering network for women, providing support, resources, and networking opportunities. Fosters personal and professional growth through mentorship programs, workshops, and collaborative projects.',
  },
];
---

<PageLayout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: '' }}
  >
    <Fragment slot="subtitlePrimary" class="font-serif"> Your Journey, Your Wealth </Fragment>
    <Fragment slot="title" class="font-serif"> Empowering Women's Financial Lives at Every Stage </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        From first savings to lasting legacy - we provide the tools, knowledge, and community to help you take charge of
        your financial journey with confidence.
      </span>
    </Fragment>
  </Hero>
  <AccreditedByHRDF />
  <Partners
    title="Our Partners"
    items={[
      {
        title: 'Insurance & Protection',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/patners/download.png',
            classes: 'w-16 h-16',
            ref_link:
              'https://www.tuneprotect.com/?utm_source=Website&utm_medium=MainPage&utm_campaign=WahineAffiliate&utm_term=&utm_content=',
          },
        ],
      },
      {
        title: 'Investment & Wealth Management',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/kenanga-investor.png',
            classes: 'w-32 object-contain',
          },
          {
            url: 'https://assets.lifeofw.com/images/halogen.png',
            classes: 'w-36 object-contain',
            ref_link: 'https://halogen.my/?ref=wahine_capital',
          },
        ],
      },
      {
        title: 'Personal Finance & Advisory',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/resolute-logo.webp',
            classes: 'w-16 object-contain',
            ref_link: 'https://www.resolute-planning.com/?ref=wahine_capital',
          },
          {
            url: 'https://assets.lifeofw.com/images/mula.png',
            classes: 'w-36 object-contain',
            ref_link: 'https://mula.com.my/?ref=wahine_capital',
          },
          {
            url: 'https://assets.lifeofw.com/css/m.webp',
            classes: 'w-24',
            ref_link:
              'https://mymoneyinsights.asia/?utm_source=website&utm_medium=social&utm_campaign=wahine_mymoneyinsights&utm_gen=utmdc',
          },
        ],
      },
      {
        title: 'Estate Planning & Legacy',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/pewarisan.png',
            classes: 'w-16 object-contain',
            ref_link:
              'https://masjidnetwork.my/?utm_source=website&utm_medium=social&utm_campaign=wahine_masjidnetwork',
          },
        ],
      },
      {
        title: 'P2P Financing',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/capsphere.webp',
            classes: 'w-40 object-contain',
            ref_link: 'https://app.capsphere.com.my/register?pa=PAWCSB005',
          },
          {
            url: 'https://assets.lifeofw.com/images/fundaztic.png',
            classes: 'w-20 object-contain',
            ref_link: 'https://www.fundaztic.com/',
          },
        ],
      },
      {
        title: 'Property',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/reu-living.png',
            classes: 'w-20 object-contain',
          },
        ],
      },
    ]}
  />
  <!-- Recognitions -->
  <Recognitions />
  <!--Featured On -->
  <FeaturedOn title="As Featured On" features={featuredData} />

  <!--Solutions -->
  <Solutions title="Financial Tools & <br/>Resources for Your Needs" tools={toolsData} />

  <ExpertSlider />
  <!-- Quote -->
  <Quote />
  <!-- News Quote -->
  <NewsQuote />
  <!-- Community Card -->
  <CommunityJoin />
  <!-- VideoSeries Card -->
  <VideoSeriesPreview />
</PageLayout>
