---
import PageLayout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Partners from '~/components/widgets/Partners.astro';
import Recognitions from '~/components/Recognitions.astro';
import Solutions from '~/components/Solutions.astro';
import FeaturedOn from '~/components/FeaturedOn.astro';
import NewsQuote from '~/components/NewsQuote.astro';
import Quote from '~/components/Quote.astro';
import CommunityJoin from '~/components/CommunityJoin.astro';
import VideoSeriesPreview from '~/components/VideoSeriesPreview.astro';
const featuredData = [
  { url: '/images/featuredon/bfm.png', classes: 'object-contain w-32' },
  { url: '/images/featuredon/the-edge.png', classes: 'object-contain w-36' },
  { url: '/images/featuredon/star-biz7.png', classes: 'w-14' },
  { url: '/images/featuredon/astro-awani.png', classes: 'w-32' },
];
const metadata = {
  title: 'Life of W',
  ignoreTitleTemplate: true,
};

const toolsData = [
  {
    icon: '/path-to-vault-icon.svg',
    title: 'W Vault',
    description:
      'A dedicated digital safe, uniquely crafted for women, allowing women to securely store and organize vital digital details such as documents and financial records.',
  },
  {
    icon: '/path-to-masterclass-icon.svg',
    title: 'Wahine Finance Masterclass',
    description:
      "A comprehensive video series focused on empowering women in finance. Each module covers essential topics such as financial literacy, investment strategies, budgeting, providing valuable insights and practical guidance to enhance women's financial confidence and independence.",
  },
  {
    icon: '/path-to-wani-icon.svg',
    title: 'Wani Chat',
    description:
      'Our friendly assistant bot designed to help with any questions you have about budgeting, investing, or women. Wani is equipped to provide insights to empower women in their financial journeys.',
  },
  {
    icon: '/path-to-community-icon.svg',
    title: 'Wahine Community',
    description:
      'Empowering network for women, providing support, resources, and networking opportunities. Fosters personal and professional growth through mentorship programs, workshops, and collaborative projects.',
  },
];
---

<PageLayout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="subtitlePrimary" class="font-serif"> Redefining Financial Management for Women </Fragment>
    <Fragment slot="title" class="font-serif"> Financial Strategies for Women in Every Stage of Life </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Your financial future, reimagined: Innovative wealth management solutions that celebrate and support women's
        unique paths to success.
      </span>
    </Fragment>
  </Hero>

  <Partners
    title="Our Partners"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Insurance & Protection',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/patners/download.png',
            classes: 'w-16 h-16',
          },
        ],
      },
      {
        title: 'Investment & Wealth Management',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/kenanga-investor.png',
            classes: 'w-32 object-contain',
          },
          {
            url: 'https://assets.lifeofw.com/images/halogen.png',
            classes: 'w-36 object-contain',
          },
        ],
      },
      {
        title: 'Personal Finance & Advisory',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/resolute-logo.webp',
            classes: 'w-16 object-contain',
          },
          {
            url: 'https://assets.lifeofw.com/images/mula.png',
            classes: 'w-36 object-contain',
          },
          {
            url: 'https://assets.lifeofw.com/css/m.webp',
            classes: 'w-24',
          },
        ],
      },
      {
        title: 'Estate Planning & Legacy',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/pewarisan.png',
            classes: 'w-16 object-contain',
          },
        ],
      },
      {
        title: 'P2P Financing',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/capsphere.webp',
            classes: 'w-40 object-contain',
          },
          {
            url: 'https://assets.lifeofw.com/images/fundaztic.png',
            classes: 'w-20 object-contain',
          },
        ],
      },
      {
        title: 'Property',
        logos: [
          {
            url: 'https://assets.lifeofw.com/images/reu-living.png',
            classes: 'w-20 object-contain',
          },
        ],
      },
    ]}
  />
  <!-- Recognitions -->
  <Recognitions />
  <!--Featured On -->
  <FeaturedOn title="As Featured On" features={featuredData} />

  <!--Solutions -->
  <Solutions title="Financial Tools & <br/>Resources for Your Needs" tools={toolsData} />
  <!-- Quote -->
  <Quote />
  <!-- News Quote -->
  <NewsQuote />
  <!-- Community Card -->
  <CommunityJoin />
  <!-- VideoSeries Card -->
  <VideoSeriesPreview />
</PageLayout>
