---
import Headline from "./ui/Headline.astro";

const {
  title = "As Featured On",
  features = [
    { url: '/images/featuredon/bfm.png', classes: 'object-contain w-32' },
    { url: '/images/featuredon/the-edge.png', classes: 'object-contain w-36' },
    { url: '/images/featuredon/star-biz7.png', classes: 'w-14' },
    { url: '/images/featuredon/astro-awani.png', classes: 'w-32' }
  ]
} = Astro.props;
---

<section class="relative not-prose scroll-mt-[72px] my-16">
  <div class="inset-0 absolute pointer-events-none -z-[1]" aria-hidden="true">
    <div class="inset-0 absolute"></div>
  </div>
  <div class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter intercept-no-queue relative mx-auto px-4 text-default max-w-5xl">
    <div class="text-center md:mx-auto max-w-3xl">
      <Headline title={title} subtitle={''} />
    </div>
    <div class="mx-auto mt-8">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-12 items-center justify-items-center">
        {
          features.map(({ url, classes }) => (
            <div class="flex items-center justify-center w-full">
              <img 
                class={`${classes} transition-transform duration-300 hover:scale-110`} 
                src={url} 
                alt="" 
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>