---
const {
  quote = {
    line1: 'Building wealth strategies',
    line2: 'as unique as',
    line3: 'the women who lead them.',
  },
} = Astro.props;
---

<div class="container mx-auto px-4 my-36 max-w-7xl flex justify-center">
  <h1 class="text-3xl md:text-4xl lg:text-5xl font-serif text-teal-900 leading-tight tracking-normal text-center">
    {quote.line1}
    <br class="hidden md:block" />
    <span class="block mt-2 md:mt-4">
      {quote.line2}
    </span>
    <span class="block mt-2 md:mt-4">
      {quote.line3}
    </span>
  </h1>
</div>
