---
import LinkButton from './ui/LinkButton.astro';

interface Tool {
  icon: string;
  title: string;
  description: string;
}

const {
  title = 'Financial Tools & Resources for Your Needs',
  tools = [
    {
      icon: '/path-to-vault-icon.svg',
      title: 'W Vault',
      link: '/wvault',
      description:
        'A secure digital vault designed for women to organize and store their important financial information, documents, and records in one protected space.',
    },
    {
      icon: '/path-to-masterclass-icon.svg',
      title: 'Wahine Finance Video Series',
      link: 'outclass',
      description:
        'A comprehensive financial education series designed for women, covering essential topics from budgeting to investment strategies through engaging video lessons.',
    },
    {
      icon: '/path-to-wani-icon.svg',
      title: 'Wani Chat',
      link: 'https://wani.lifeofw.com',
      description:
        'Your friendly AI assistant ready to answer questions about personal finance, budgeting, and investments with tailored guidance for women.',
    },
    {
      icon: '/path-to-community-icon.svg',
      title: 'Wahine Community',
      link: '/community',
      description:
        'Join a supportive network of women sharing financial knowledge through mentorship programs, workshops, and collaborative learning experiences.',
    },
  ],
} = Astro.props;
---

<div class="container mx-auto px-4 py-24 max-w-7xl">
  <!-- Header Section -->
  <div class="my-24">
    <h1 class="font-medium font-heading leading-tighter text-heading tracking-tighter md:text-4xl text-3xl">
      {
        title.split('<br/>').map((line, i) =>
          i === 0 ? (
            line
          ) : (
            <>
              <br />
              {line}
            </>
          )
        )
      }
    </h1>
  </div>

  <!-- Main Content Grid -->
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {
        tools.map((tool) => (
          <div class="flex flex-col gap-4 items-center">
            <div class="text-center space-y-6">
              <h3 class="text-xl font-serif theme-gradient mb-2">{tool.title}</h3>
              <p class="text-gray-600 leading-relaxed">{tool.description}</p>
              <LinkButton link={tool.link} target="_blank" color="accent" buttonText="Learn More" size="smallest" />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
