---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import PageHeader from '~/components/PageHeader.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';
import PageHeaderAlt from '~/components/PageHeaderAlt.astro';

export interface Props {
  metadata?: MetaData;
  hasPageHeader?: boolean;
  pageTitle?: string;
  pageSubtitle?: string;
  highlightedTitleText?: string;
}

const { metadata, hasPageHeader = false, pageTitle, pageSubtitle, highlightedTitleText = '' } = Astro.props;
---

<Layout metadata={metadata}>
  <div aria-hidden="true" class="flex absolute -top-96 start-1/2 transform -translate-x-1/2">
    <div
      class="bg-gradient-to-l from-primary-300/50 to-primary-100 blur-3xl w-[25rem] h-[44rem] rotate-[-60deg] transform -translate-x-[10rem]"
    >
    </div>
    <div
      class="bg-gradient-to-tl from-accent-50 via-accent-100 to-accent-50 blur-3xl w-[90rem] h-[50rem] rounded-fulls origin-top-left -rotate-12 -translate-x-[15rem]"
    >
    </div>
    <div
      class="bg-gradient-to-r from-primary-100/50 to-primary-300 blur-3xl w-[25rem] h-[44rem] rotate-[-60deg] transform -translate-x-[10rem]"
    >
    </div>
  </div>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    {
      hasPageHeader && (
        <PageHeader title={pageTitle} subtitle={pageSubtitle} highlightedTitleText={highlightedTitleText} />
        <PageHeaderAlt />
      )
    }
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
