---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import PageHeader from '~/components/PageHeader.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';
import PageHeaderAlt from '~/components/PageHeaderAlt.astro';

export interface Props {
  metadata?: MetaData;
  hasPageHeader?: boolean;
  pageTitle?: string;
  pageSubtitle?: string;
  highlightedTitleText?: string;
}

const { metadata, hasPageHeader = false, pageTitle, pageSubtitle, highlightedTitleText = '' } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    {
      hasPageHeader && (
        <PageHeader title={pageTitle} subtitle={pageSubtitle} highlightedTitleText={highlightedTitleText} />
        <PageHeaderAlt />
      )
    }
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
